.home {
  overflow: hidden;
  background: url("/src/assets/img/global/CHUEIKUN.png") no-repeat;
  background-position: top 810px left 0px;
  z-index: -1;
  @include xl {
    background-position: top 610px left 0px;
  }
  @include lg {
    background-position: top 610px left 0px;
  }
  @include md {
    background-position: top 530px left 0px;
  }
  @include sm {
    background-position: top 360px left 0px;
  }
  .img_area {
    display: flex;
  }
  .banner_contact {
    width: 10%;
    display: flex;
    position: relative;
    & > div {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    p {
      writing-mode: vertical-lr;
      color: $red;
      margin-bottom: 20px;
    }
    .contact_link {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    .line {
      width: 2px;
      height: 100px;
      display: block;
      margin-top: 20px;
      background: $red;
    }
    @include lg {
      p {
        font-size: 14px;
        margin-bottom: 10px;
      }
      .contact_link {
        gap: 10px;
        img {
          width: 20px;
          height: 20px;
        }
      }
      .line {
        margin-top: 10px;
        height: 80px;
      }
    }
    @include md {
      display: none;
    }
  }
  .banner_swiper {
    width: 90%;
    @include md {
      width: 100%;
    }
  }
  .banner_home {
    width: 100%;
    border-radius: 0 0 0 20px;
    @include md {
      padding-left: 5%;
    }
  }
  .hot_news_list {
    padding: 0;
    margin-top: 80px;
    margin-bottom: 120px;
    @include lg {
      margin-bottom: 60px;
    }
    .row {
      justify-content: end;
      .hot_news_list_item {
        ul {
          margin-bottom: 10px;
        }
        li {
          display: flex;
          align-items: center;
          border-bottom: 1px dashed #707070;
          padding: 20px 0;
          a {
            width: 100%;
            display: flex;
            justify-content: space-between;
            color: #000;
            @include sm {
              flex-direction: column;
              span {
                align-self: flex-end;
              }
            }
          }
        }
        .button_area {
          justify-content: end;
        }
        @include lg {
          margin-bottom: 10px;
        }
      }

      .hot_news_list_img {
        padding: 0 0 0 12px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
        @include lg {
          padding: 0 12px;
        }
      }
    }
    @include lg {
      padding: 0 12px;
    }
  }

  .recommend_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 1400px) {
      display: block;
    }
    .type_btn {
      @include lg {
        overflow-x: scroll;
      }
    }
    ul {
      display: flex;
      @include xl {
        justify-content: center;
      }
      @include lg {
        justify-content: inherit;
      }
    }
  }

  .swiperBox {
    position: relative;
    padding: 0 150px;
    @include xl {
      padding: 0 100px;
    }
    @include md {
      padding: 0 60px;
    }
    @include sm {
      padding: 0 35px;
    }
  }

  .recommend_swiper {
    position: initial;
    padding: 50px 0;
    .swiper-scrollbar {
      background: $yellow;
      bottom: 10px;
    }
    .swiper-scrollbar-drag {
      background: $red;
    }
    .swiper-button-prev,
    .swiper-button-next {
      color: $red;
    }
  }
}
