//會員登入
.login {
  margin-bottom: 80px;
  @include lg {
    margin-bottom: 40px;
  }
  .membership {
    @include lg {
      margin-top: 60px;
    }
    label {
      margin-bottom: 40px;
    }
  }
  .membership_terms {
    padding: 20px;
    height: 500px;
    overflow-y: scroll;
    box-shadow: 0px 0px 6px 2px rgba($color: #000000, $alpha: 0.2);
    margin-bottom: 20px;
    background: #fff;
    h3 {
      font-size: 25px;
      font-weight: 600;
      color: $red;
      margin-bottom: 20px;
    }
    h4 {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 10px;
    }
    li,
    p {
      font-size: 12px;
      margin-bottom: 15px;
    }
    &::-webkit-scrollbar {
      width: 10px;
      background: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background: $red;
      border-radius: 10px;
      border: 2px solid #fff;
    }
  }
  .form_style {
    margin-bottom: 40px;
    &:first-child {
      margin-bottom: 80px;
    }
    label {
      span {
        color: $red;
        padding: 5px;
        border-radius: 50%;
        border: 1px solid $red;
      }
    }
    @include sm {
      flex-direction: column;
      label {
        border: none;
        margin-bottom: 20px;
      }
      input {
        width: 100%;
      }
    }
  }
  form {
    margin-bottom: 80px;
  }
  .check {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    a,
    label {
      color: #000000;
      font-size: 18px;
      font-weight: bold;
    }
    @include lg {
      width: 100%;
    }
  }
  .other {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    div {
      display: flex;
      gap: 40px;
    }
    p {
      padding: 5px 30px;
      background: $red;
      border-radius: 0 30px 0 30px;
      color: #fff;
      margin-bottom: 30px;
      position: relative;
      &::before {
        content: "";
        display: block;
        width: 150px;
        height: 1px;
        background: #707070;
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translateY(-50%);
        z-index: -1;
      }
      &::after {
        content: "";
        display: block;
        width: 150px;
        height: 1px;
        background: #707070;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%);
        z-index: -1;
      }
    }
    a {
      display: block;
      padding: 20px;
      border: 1px solid $red;
      border-radius: 50%;
    }
  }
}
//忘記密碼
.forgot {
  .form_style {
    margin: 80px 0;
    justify-content: center;
    align-items: center;
    @include md {
      flex-direction: column;
      align-items: flex-start;
    }
    label {
      @include md {
        border: none;
        margin-bottom: 20px;
      }
    }
    input {
      width: 30%;
      @include lg {
        width: 60%;
      }
      @include md {
        width: 100%;
      }
    }
    span {
      color: $red;
      padding: 5px;
      border-radius: 50%;
      border: 1px solid $red;
    }
  }
  .button_area {
    margin: 80px 0;
    @include lg {
      margin: 40px 0;
    }
  }
  h3 {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    color: $red;
    margin: 80px 0;
  }
}
//會員手機認證
.phoneverify {
  h3 {
    text-align: center;
    color: $red;
    margin-bottom: 40px;
  }
  .form_style {
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    label {
      width: 15%;
      @include md {
        width: 100%;
        border: none;
      }
    }
    .captcha_input {
      width: 50%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px;
      border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2);
      input {
        border: none;
        @include md {
          width: 100%;
          border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2);
          margin-bottom: 10px;
        }
      }
      @include md {
        border: none;
        width: 100%;
        flex-direction: column;
        .captcha {
          align-self: flex-end;
        }
      }
    }
    @include md {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .button_area {
    margin: 80px 0;
    @include lg {
      margin: 40px 0;
    }
  }
}

//會員註冊
.register {
  .form_style {
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    label {
      width: 15%;
      @include md {
        width: 100%;
        border: none;
        margin-bottom: 20px;
      }
    }
    input {
      width: 50%;
      @include md {
        width: 100%;
      }
    }
    p {
      width: 15%;
      margin-right: 20px;
      @include md {
        width: 100%;
      }
    }
    .space {
      width: 50%;
    }
    &.sex {
      .sex_option {
        width: 50%;
        display: flex;
        @include md {
          width: 100%;
        }
        input {
          width: 10%;
          @include md {
            width: 25%;
          }
        }
      }
    }
    &.date {
      .date_area {
        width: 50%;
        @include md {
          width: 100%;
        }
      }
      input {
        width: 30%;
        padding: 5px;
        border-radius: 5px;
        box-shadow: 0px 0px 6px 2px rgba($color: #000000, $alpha: 0.2);
        @include md {
          width: 100%;
        }
      }
      input[type="date"]::-webkit-calendar-picker-indicator {
        position: relative;
        right: 0;
        background: url("/src/assets/img/global/calendar.png") no-repeat center;
        background-size: contain;
      }
    }
    .captcha_input {
      width: 50%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px;
      border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2);
      input {
        border: none;
        @include md {
          width: 100%;
          border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2);
          margin-bottom: 10px;
        }
      }
      @include md {
        border: none;
        width: 100%;
        flex-direction: column;
        .captcha {
          align-self: flex-end;
        }
      }
    }
    .address_area {
      width: 50%;
      @include md {
        width: 100%;
      }
      select {
        border: none;
        padding: 5px;
        border-radius: 5px;
        box-shadow: 0px 0px 6px 2px rgba($color: #000000, $alpha: 0.2);
        margin-bottom: 10px;
        &.city,
        &.country {
          width: 25%;
          margin-right: 10px;
          @include md {
            width: 100%;
          }
        }
        &.street {
          width: 40%;
          @include md {
            width: 100%;
          }
        }
      }
      .address {
        width: 100%;
        border-radius: 5px;
        box-shadow: 0px 0px 6px 2px rgba($color: #000000, $alpha: 0.2);
        margin-bottom: 10px;
        padding: 5px;
      }
      .select_area {
        @include md {
          display: flex;
          flex-direction: column;
        }
      }
    }
    @include md {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  .button_area {
    margin: 80px 0;
    @include lg {
      margin: 40px 0;
    }
  }
}

.memberonly {
  margin-bottom: 80px;
  h3 {
    font-size: 25px;
    text-align: center;
    margin-bottom: 40px;
  }
  .button_area {
    margin-bottom: 20px;
    .button {
      margin-right: 10px;
    }
    @include sm {
      flex-direction: column;
      align-items: center;
      margin-bottom: 0;
      .button {
        margin-bottom: 20px;
      }
    }
  }
}
//查詢訂單
.memberorder {
  margin-bottom: 80px;
  .list {
    width: 20%;
  }
  .main {
    width: 80%;

    @include lg {
      width: 100%;
    }
  }
  table {
    margin-bottom: 80px;
    width: 100%;
    @include lg {
      margin-bottom: 40px;
      display: block;
      white-space: nowrap;
      overflow-x: auto;
    }
    a {
      display: block;
      position: relative;
      color: $red;
      &::after {
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
        content: "\f105";
        font-size: 14px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        color: #000000;
      }
    }
    thead {
      background: $red;
      color: #fff;
      text-align: center;
      th {
        padding: 10px;
      }
    }
    tbody {
      td {
        min-width: 200px;
        border: 1px solid rgba($color: #000000, $alpha: 0.2);
        padding: 10px;
        text-align: center;
        vertical-align: middle;
      }
    }
  }
  .pay_table,
  .product_table {
    box-shadow: 0 0 6px 2px rgba($color: #000000, $alpha: 0.2);
    border-radius: 0;
  }
  .cancel {
    display: block;
    color: #fff;
    background: $red;
    padding: 0 15px;
    border-radius: 0 30px 0 30px;
    margin-left: 10px;
  }
}
//更改密碼
.changepassword {
  margin-bottom: 80px;
  .list {
    width: 20%;
  }
  .main {
    width: 80%;
    @include lg {
      width: 100%;
    }
  }
  h3 {
    text-align: center;
    color: $red;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 40px;
  }
  .form_style {
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    @include sm {
      flex-direction: column;
    }
    label {
      width: 15%;
      @include lg {
        width: 20%;
      }
      @include sm {
        width: 100%;
        border: none;
        margin-bottom: 10px;
      }
    }
    input {
      width: 50%;
      @include sm {
        width: 100%;
      }
    }
  }
  .button_area {
    margin: 80px 0;
    @include lg {
      margin: 40px 0;
    }
  }
}
//登出
.logout {
  margin-bottom: 80px;

  .list {
    width: 20%;
  }
  .main {
    width: 80%;
    @include lg {
      width: 100%;
    }
  }
  h3 {
    text-align: center;
    color: $red;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 40px;
  }
}

//綁定其他帳號
.bindother {
  margin-bottom: 80px;
  .list {
    width: 20%;
  }
  .main {
    width: 80%;
    @include lg {
      width: 100%;
    }
  }
  .form_style {
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    @include sm {
      flex-direction: column;
    }
    label {
      width: 15%;
      @include lg {
        width: 21%;
      }
      @include sm {
        width: 100%;
        border: none;
        margin-bottom: 10px;
      }
    }
    .bind_status {
      width: 50%;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2);
      padding: 5px;
      a {
        display: block;
        width: 100px;
        text-align: center;
        color: #fff;
        border-radius: 0 30px 0 30px;
        background: $red;
      }
      @include sm {
        width: 100%;
      }
    }
  }
}
//修改資料
.memberrevise {
  margin-bottom: 80px;
  .list {
    width: 20%;
  }
  .main {
    width: 80%;
    @include lg {
      width: 100%;
    }
  }
  h3 {
    text-align: center;
    color: $red;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 40px;
  }

  .form_style {
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    label {
      width: 15%;
      @include md {
        width: 100%;
        border: none;
        margin-bottom: 20px;
      }
    }
    input {
      width: 50%;
      @include md {
        width: 100%;
      }
    }
    p {
      width: 15%;
      margin-right: 20px;
      @include md {
        width: 100%;
      }
    }
    .space {
      width: 50%;
    }
    &.sex {
      .sex_option {
        width: 50%;
        display: flex;
        @include md {
          width: 100%;
        }
        input {
          width: 10%;
          @include md {
            width: 25%;
          }
        }
      }
    }
    &.date {
      .date_area {
        width: 50%;
        @include md {
          width: 100%;
        }
      }
      input {
        width: 30%;
        padding: 5px;
        border-radius: 5px;
        box-shadow: 0px 0px 6px 2px rgba($color: #000000, $alpha: 0.2);
        @include lg {
          width: 50%;
        }
      }
      input[type="date"]::-webkit-calendar-picker-indicator {
        position: relative;
        right: 0;
        background: url("/src/assets/img/global/calendar.png") no-repeat center;
        background-size: contain;
      }
    }
    .captcha_input {
      width: 50%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px;
      border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2);
      input {
        border: none;
        @include md {
          width: 100%;
          border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2);
          margin-bottom: 10px;
        }
      }
      @include md {
        border: none;
        width: 100%;
        flex-direction: column;
        .captcha {
          align-self: flex-end;
        }
      }
    }
    .address_area {
      width: 50%;
      @include md {
        width: 100%;
      }
      select {
        border: none;
        padding: 5px;
        border-radius: 5px;
        box-shadow: 0px 0px 6px 2px rgba($color: #000000, $alpha: 0.2);
        margin-bottom: 10px;
        &.city,
        &.country {
          width: 25%;
          margin-right: 10px;
          @include md {
            width: 100%;
          }
        }
        &.street {
          width: 40%;
          @include md {
            width: 100%;
          }
        }
      }
      .address {
        width: 100%;
        border-radius: 5px;
        box-shadow: 0px 0px 6px 2px rgba($color: #000000, $alpha: 0.2);
        margin-bottom: 10px;
        padding: 5px;
      }
      .select_area {
        @include md {
          display: flex;
          flex-direction: column;
        }
      }
    }

    @include md {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  .button_area {
    margin-top: 80px;
  }
}
