.product {
  margin-bottom: 80px;
  .list {
    width: 25%;
  }
  .main {
    width: 70%;
    @include lg {
      width: 100%;
    }
  }
  .row {
    justify-content: space-between;
  }
  .shop_info_link {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;

    a {
      width: 30%;
      display: block;
      text-align: center;
      padding: 5px;
      color: $red;
      background: #fff;
      box-shadow: 3px 3px 2px 2px #f6eedd;
      &:hover {
        background: $red;
        color: #fff;
      }
      &.active {
        color: #fff;
        background: $red;
      }
    }
  }
  .shop_methods {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    a {
      display: flex;
      flex-direction: column;
      gap: 30px;
      align-items: center;
      justify-content: center;
      width: 30%;
      padding: 50px 0;
      color: #000;
      &:nth-child(2) {
        border-right: 1px solid #707070;
        border-left: 1px solid #707070;
      }
    }
    @include sm {
      flex-direction: column;
      align-items: center;
      a {
        width: 100%;
        &:nth-child(2) {
          border: none;
          border-top: 1px solid #707070;
          border-bottom: 1px solid #707070;
        }
      }
    }
  }

  h4 {
    font-size: 20px;
    font-weight: bold;
  }
  .shop_content {
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2);
    padding-bottom: 100px;
  }

  .button_area {
    margin: 80px 0;
    @include lg {
      margin: 40px 0;
    }
  }
  .expand_card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.25s;

    .options {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      overflow: hidden;
      min-width: 600px;
      max-width: 900px;
      width: 100%;
      height: 400px;
      .option {
        position: relative;
        overflow: hidden;
        min-width: 80px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        cursor: pointer;
        transition: 0.5s;

        &.active {
          flex-grow: 10000;
          max-width: 600px;
          margin: 0px;
          .info {
            display: none;
          }
        }
        &:not(.active) {
          flex-grow: 1;
          background-blend-mode: darken;
          background-color: rgba(0, 0, 0, 0.5);
          .info_active {
            display: none;
          }
        }
        .info_active,
        .info {
          position: absolute;
          color: #fff;
          img {
            animation-name: rotateImg;
            animation-duration: 5s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
          }
        }

        .info {
          top: 50%;
          transform: translateY(-50%);
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
        &:nth-child(4) {
          .info {
            top: 53%;
          }
        }
        .info_active {
          display: flex;
          align-items: center;
          bottom: 0;
        }
      }
    }
    @include md {
      .options {
        flex-direction: column;
        height: 1000px;
        max-width: none;
        min-width: 0;
        .option {
          min-height: 90px;
          .info {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
          }
          &:nth-child(3) {
            .info {
              left: 51%;
            }
          }
          &:nth-child(4) {
            .info {
              left: 53%;
            }
          }
        }
      }
    }
  }
}

.productitem {
  margin-bottom: 80px;
  & > .row {
    justify-content: end;
  }
  .list {
    width: 20%;
    @include xl{
      width: 25%;
    }
  }
  .main {
    width: 70%;
    @include lg {
      width: 100%;
    }
    li {
      margin-bottom: 20px;
    }
  }
}

.productdetail {
  margin-bottom: 80px;
  & > .row {
    justify-content: space-between;
  }
  .list {
    width: 25%;
  }
  .main {
    width: 70%;
    @include lg {
      width: 100%;
    }
    li {
      margin-bottom: 20px;
    }
  }
  .modal-content {
    border: none;
    background: transparent;
  }

  .thumb_area {
    border-bottom: 1px solid #707070;
    padding-bottom: 60px;
    @include lg {
      margin-bottom: 20px;
    }
  }

  .main_swiper {
    margin: 20px;
    padding: 10px;
    .swiper-slide {
      position: relative;
      .tag {
        position: absolute;
        top: 5px;
        p {
          color: #fff;
          background: $red;
          padding: 2px;
          margin-bottom: 5px;
        }
      }
      img {
        width: 100%;
        border-radius: 0 30px 0 30px;
        box-shadow: 3px 3px 2px 2px #f6eedd;
      }
      span {
        position: absolute;
        right: 5px;
        bottom: 5px;
        padding: 5px;
        border-radius: 50%;
        background: $red;
        color: #fff;
      }
    }
  }
  .thumb_swiper {
    .swiper-slide {
      img {
        border-radius: 0 30px 0 30px;
        border: 1px solid #f6eedd;
      }
    }
  }
  .detail_info {
    h4 {
      font-size: 28px;
    }
    .price {
      color: $red;
      margin-bottom: 20px;
    }
    .coupon {
      margin-bottom: 20px;
    }
    .info_text {
      margin-bottom: 40px;
    }
    .count {
      display: flex;
      align-items: center;
      gap: 20px;
      margin-bottom: 10px;
      .calculate {
        .calculate_num {
          border-top: 1px solid #707070;
          border-bottom: 1px solid #707070;
        }
      }
    }
    .button_area {
      justify-content: start;
      @include xs {
        flex-direction: column;
      }
    }
  }
  .feature {
    margin: 100px 0 150px;
  }
  .swiperBox {
    padding: 0;
    position: relative;
    .swiper {
      padding: 70px 0 0 0;
      .swiper-button-prev,
      .swiper-button-next {
        top: 30px;
        &.swiper-button-disabled {
          opacity: 1;
        }
      }
      .swiper-button-prev {
        left: auto;
        right: 80px;
        width: 12%;
        border-radius: 0 30px 0 30px;
        background: #000;
        @include xl {
          right: 67px;
        }
        &::after {
          content: "";
          display: block;
          background: url("/src/assets/img/other/prev.png") no-repeat center;
          background-size: cover;
          width: 20px;
          height: 20px;
        }
        @include md {
          width: 80px;
        }
      }
      .swiper-button-next {
        width: 13%;
        z-index: 9;
        background: $red;
        border-radius: 0 30px 0 30px;
        &::after {
          content: "";
          display: block;
          background: url("/src/assets/img/other/next.png") no-repeat center;
          background-size: cover;
          width: 20px;
          height: 20px;
        }
        @include md {
          width: 80px;
        }
      }
      .swiper-wrapper {
        padding: 5px 0;
      }
    }
    .title_group {
      position: absolute;
      left: 0;
      top: 0;
      @include md {
        position: relative;
      }
    }
  }
}
