//主頁面彈出視窗
#main_modal {
  .modal-content {
    border-radius: 0;
    border-top: 20px solid $red;
    border-bottom: 20px solid $red;
    padding: 15px 30px;
    position: relative;
    button {
      position: absolute;
      top: 30px;
      right: 0;
    }
    h3 {
      color: $red;
      font-weight: bold;
      font-size: 33px;
      margin-bottom: 20px;
    }
    h4 {
      font-size: 30px;
      color: $red;
      &.company {
        color: #000;
      }
    }

    p {
      line-height: 2.5;
      font-size: 20px;
      span {
        font-size: 20px;
        color: $red;
      }
    }
    @include sm {
      margin: 0 auto;
      padding: 10px;
      .modal-body {
        padding: 0;
      }
      button {
        top: 7px;
      }
      h3 {
        font-size: 24px;
      }
      h4 {
        font-size: 20px;
      }
      p {
        line-height: 2;
      }
    }
    @include xs {
      margin: 0 auto;

      .modal-body {
        padding: 0;
      }
      button {
        top: 5px;
      }
      h3 {
        font-size: 20px;
      }
      h4 {
        font-size: 16px;
      }
      p {
        font-size: 14px;
        line-height: 2;
      }
    }
  }
}
//麵包屑
.breadcrumb {
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 40px;
  li {
    font-size: 20px;
    &.active {
      color: $red;
      font-weight: bold;
      &::before {
        font-family: "Font Awesome 6 Free";
        font-weight: bold;
        content: "\f105";
        font-size: 20px;
        padding: 0 20px;
      }
    }
  }
  @include lg {
    li {
      font-size: 16px;
      img {
        width: 90%;
      }
    }
  }
}

//標題樣式
.title {
  position: relative;
  margin-bottom: 40px;
  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 180px;
    height: 60px;
    transform: rotate(-20deg) skew(20deg, 5deg);
    border-left: 2px solid #a02c2c;
    border-right: 2px solid #a02c2c;
    left: -30px;
  }
  h2 {
    font-size: 35px;
    font-weight: bold;
    color: $red;
  }
  @include lg {
    &::before {
      display: none;
    }
    h2 {
      font-size: 30px;
    }
  }
}
//按鈕樣式
.button_area {
  display: flex;
  justify-content: center;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 60px;
  font-size: 18px;
  font-weight: bold;
  background: url("/src/assets/img/global/button_bg_active.png") no-repeat
    center;
  background-size: contain;
  color: #fff;
  &:hover {
    background: url("/src/assets/img/global/button_bg.png") no-repeat center;
    background-size: contain;
    color: $red;
  }
}

.button02 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 60px;
  font-size: 18px;
  font-weight: bold;
  background: url("/src/assets/img/global/button_bg.png") no-repeat center;
  background-size: contain;
  color: $red;
  &:hover {
    background: url("/src/assets/img/global/button_bg_active.png") no-repeat
      center;
    background-size: contain;
    color: #fff;
  }
}
button {
  &.button02,
  &.button {
    border: none;
  }
}

.customer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 145px;
  height: 50px;
  background: url("/src/assets/img/global/customer.png") no-repeat center;
  background-size: contain;
  color: #fff;
}
.shop-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 145px;
  height: 50px;
  background: url("/src/assets/img/global/shop-cart.png") no-repeat center;
  background-size: contain;
  color: #fff;
}
.shopping {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 145px;
  height: 50px;
  background: url("/src/assets/img/global/shopping.png") no-repeat center;
  background-size: contain;
  color: #fff;
}

//大畫面產品表格樣式
.table_xl {
  @include md {
    display: none;
  }
  .product_table {
    width: 100%;
    display: table;
    border-collapse: separate;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 6px 4px rgba($color: #000000, $alpha: 0.3);
    .thead {
      display: table-header-group;
      background: $red;
      color: #fff;
      text-align: center;
      .th {
        display: table-cell;
      }
    }
    .tr {
      display: table-row;
    }
    .tbody {
      display: table-header-group;

      .td {
        min-width: 110px;
        display: table-cell;
        padding: 30px;
        text-align: center;
        vertical-align: middle;
        border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
        .product_item {
          display: flex;
          align-items: center;
          gap: 20px;
          img {
            border-radius: 10px;
            object-fit: cover;
            object-position: center;
            box-shadow: 0px 0px 6px 4px rgba($color: #000000, $alpha: 0.2);
          }
          @include lg {
            flex-direction: column;
          }
        }
        .delivery,
        .code {
          display: flex;
        }
        .delete {
          display: flex;
          align-items: center;
          justify-content: center;
          color: rgb(107, 102, 102);
          span {
            vertical-align: middle;
          }
        }
        &.item_total {
          color: $red;
        }
      }

      .product_price,
      .product_total {
        .td {
          border-bottom: 1px dashed rgba($color: #000000, $alpha: 0.1);
          &:first-child {
            text-align: left;
            p {
              &:first-child {
                margin-bottom: 10px;
              }
            }
          }
          &:last-child {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: right;
            p {
              &:first-child {
                margin-bottom: 10px;
              }
            }
          }
        }
      }
      .product_price {
        .td {
          &:last-child {
            p {
              &:first-child {
                color: #bbb;
                text-decoration: line-through;
              }
              &:last-child {
                color: $red;
              }
            }
          }
        }
      }
    }
  }
}

//小畫面產品表格樣式
.table_sm {
  display: none;
  @include md {
    display: block;
  }
  .product_table {
    width: 100%;
    display: table;
    border-collapse: separate;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 6px 4px rgba($color: #000000, $alpha: 0.3);
    .thead {
      display: table-header-group;
      background: $red;
      color: #fff;
      text-align: center;
      .th {
        display: table-cell;
      }
    }
    .tr {
      display: table-row;
    }
    .tbody {
      display: table-header-group;
      .td {
        min-width: 110px;
        display: table-cell;
        text-align: center;
        padding: 20px;
        vertical-align: middle;
        border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
        .product_item {
          display: flex;
          align-items: center;
          flex-direction: column;
          gap: 20px;
          margin-bottom: 10px;
          img {
            border-radius: 10px;
            box-shadow: 0px 0px 6px 4px rgba($color: #000000, $alpha: 0.2);
          }
          .delivery,
          .code {
            display: flex;
          }
        }
        .calculate {
          width: 30%;
          margin: 0 auto;
          margin-bottom: 10px;
        }

        .delete {
          margin-top: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: rgb(107, 102, 102);
          span {
            vertical-align: middle;
          }
        }
        .item_total {
          margin-top: 10px;
          color: $red;
        }
      }

      .product_price,
      .product_total {
        .td {
          border-bottom: 1px dashed rgba($color: #000000, $alpha: 0.1);
        }
      }
      .product_price {
        .td {
          div {
            display: flex;
            justify-content: space-between;
            &:first-child {
              p {
                &:last-child {
                  margin-top: 10px;
                  text-decoration: line-through;
                  color: #bbb;
                }
              }
            }
            &:last-child {
              p {
                &:last-child {
                  margin-top: 10px;
                  color: $red;
                }
              }
            }
          }
        }
      }
      .product_total {
        .td {
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
}

//顧客表格樣式
.customer_table {
  width: 100%;
  display: table;
  border-collapse: separate;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 6px 4px rgba($color: #000000, $alpha: 0.3);
  .thead {
    display: table-header-group;
    background: $red;
    color: #fff;
    .th {
      display: table-cell;
    }
  }
  .tr {
    display: table-row;
  }
  .tbody {
    display: table-header-group;

    .td {
      width: 100%;
      min-width: 110px;
      padding: 40px;
      display: table-cell;
      vertical-align: middle;
      border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
    }
  }
}
//訂單確認表格樣式
.table_xl {
  @include lg {
    display: none;
  }
  .pay_table {
    margin-bottom: 40px;
    width: 100%;
    display: table;
    border-collapse: separate;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 6px 4px rgba($color: #000000, $alpha: 0.3);
    .thead {
      display: table-header-group;
      background: $red;
      color: #fff;
      .th {
        display: table-cell;
        padding: 10px;
      }
    }
    .tr {
      display: table-row;
    }
    .tbody {
      display: table-header-group;

      .td {
        min-width: 110px;
        padding: 20px;
        display: table-cell;
        vertical-align: middle;
        border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
        .pay_list {
          display: flex;
          margin-bottom: 20px;
          > div {
            display: flex;
            gap: 10px;
            @include xl {
              flex-direction: column;
            }
          }
          h4 {
            width: 101px;
            border-right: 1px solid #707070;
            margin-right: 20px;
          }
        }
      }
    }
    @include lg {
      width: 100%;
      display: block;
      overflow-x: auto;
      white-space: nowrap;
    }
  }
}
.table_sm {
  display: none;
  @include lg {
    display: block;
  }
  .pay_table {
    margin-bottom: 40px;
    width: 100%;
    display: table;
    border-collapse: separate;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 6px 4px rgba($color: #000000, $alpha: 0.3);
    .thead {
      display: table-header-group;
      background: $red;
      color: #fff;
      .th {
        display: table-cell;
        padding: 10px;
      }
    }
    .tr {
      display: table-row;
    }
    .tbody {
      display: table-header-group;

      .td {
        min-width: 110px;
        padding: 20px;
        display: table-cell;
        vertical-align: middle;
        border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
        .pay_list {
          display: flex;
          margin-bottom: 20px;
          flex-wrap: wrap;
          .invoice {
            display: flex;
            gap: 10px;
            @include xl {
              flex-direction: column;
            }
          }
          h4 {
            width: 101px;
            border-right: 1px solid #707070;
            margin-right: 20px;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}

//表單輸入樣式
.form_style {
  display: flex;
  label {
    display: flex;
    align-items: center;
    gap: 7px;
    border-right: 1px solid #707070;
    padding-right: 20px;
    margin-right: 20px;
    font-size: 18px;
    font-weight: bold;
  }
  input {
    width: 70%;
    border: none;
    padding: 5px;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2);
    &:focus {
      outline: none;
    }
  }
}
//驗證碼樣式
.captcha {
  padding: 5px 20px;
  background: $red;
  border: none;
  border-radius: 0 30px 0 30px;
  color: #fff;
  margin-left: 20px;
  box-shadow: 2px 2px 2px 2px #f6eedd;
  white-space: nowrap;
  font-size: 17px;
  font-weight: 600;
}

//會員專區列表
.member_list {
  li {
    position: relative;
    margin-bottom: 20px;

    a {
      display: block;
      color: #000;
      font-size: 18px;
      font-weight: bold;
    }
    &::before {
      width: 10px;
      height: 10px;
      content: "";
      display: block;
      background: $red;
      position: absolute;
      transform: rotate(45deg) translateY(-50%);
      top: 50%;
      right: 60px;
      transition: 0.5s;
    }
    &::after {
      width: 60px;
      height: 2px;
      content: "";
      display: block;
      background: $red;
      position: absolute;
      top: 50%;
      right: 0;
      transition: 0.5s;
    }
    &:hover {
      a {
        color: $red;
      }
      &::before {
        right: 50px;
      }
      &::after {
        width: 50px;
      }
    }
    &.active {
      a {
        color: $red;
      }
      &::before {
        right: 50px;
      }
      &::after {
        width: 50px;
      }
    }
    @include xl {
      &::before {
        right: 40px;
      }
      &::after {
        width: 40px;
      }
      &:hover {
        &::before {
          right: 35px;
        }
        &::after {
          width: 35px;
        }
      }
      &.active {
        &::before {
          right: 35px;
        }
        &::after {
          width: 35px;
        }
      }
    }
  }
}
.mobileList {
  position: fixed;
  right: 33px;
  top: 40%;
  span {
    display: none;
    color: #fff;
    background: $red;
    padding: 5px;
    border-radius: 5px;
    opacity: 0.8;
    cursor: pointer;
    transition: 0.5s;
    &:hover {
      transform: scale(1.1);
      opacity: 1;
    }
    @include lg {
      display: block;
    }
  }
}
.mobileOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  .mask {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: relative;
    .overlay_content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: $red;
      width: 50%;
      padding: 20px;
      z-index: 101;
      a {
        display: block;
        color: #fff;
        margin-bottom: 20px;
        border-bottom: 1px solid rgb(153, 133, 133);
      }
      .close {
        text-align: right;
        margin-bottom: 20px;
        span {
          color: #fff;
          cursor: pointer;
        }
      }
    }
  }
}

.product_list {
  li {
    position: relative;
    margin-bottom: 20px;

    a {
      display: block;
      color: #000;
      font-size: 17px;
      font-weight: 600;
    }
    &::before {
      width: 10px;
      height: 10px;
      content: "";
      display: block;
      background: $red;
      position: absolute;
      transform: rotate(45deg) translateY(-50%);
      top: 50%;
      right: 40px;
      transition: 0.5s;
    }
    &::after {
      width: 40px;
      height: 2px;
      content: "";
      display: block;
      background: $red;
      position: absolute;
      top: 50%;
      right: 0;
      transition: 0.5s;
    }
    &:hover {
      a {
        color: $red;
      }
      &::before {
        right: 30px;
      }
      &::after {
        width: 30px;
      }
    }
  }
  .search {
    margin-bottom: 40px;
    position: relative;
    .search_input {
      padding: 20px;
      background: $red;
      border-radius: 0 30px 0 30px;
      input {
        width: 70%;
        background: transparent;
        border: none;
        border-bottom: 1px solid #fff;
        &::placeholder {
          color: #fff;
        }
        &:focus {
          outline: none;
        }
      }
      box-shadow: 2px 2px 2px 2px #f6eedd;
    }
    label {
      position: absolute;
      right: 0;
      top: 50%;
      background: #fff;
      transform: translateY(-50%);
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
    }
  }
}

//計算數量
.calculate {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #707070;

  .calculate_btn {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    i {
      color: #fff;
    }
    &:first-child {
      background: #000;
    }
    &:last-child {
      background: $red;
    }
  }
  .calculate_num {
    padding: 0 5px;
  }
}
//產品卡片
.product_card {
  box-shadow: 3px 3px 2px 2px #f6eedd;
  border-radius: 0 30px 0 30px;
  img {
    width: 100%;
    object-fit: contain;
    object-position: center;
    border-radius: 0 30px 0 30px;
  }
  .card_text {
    padding: 10px;
    height: 200px;
    display: flex;
    flex-direction: column;
    h4 {
      font-size: 18px;
      margin-top: 8px;
      font-weight: bold;
      a {
        color: #000;
        &:hover {
          color: $red;
        }
      }
    }
    .price {
      font-size: 17px;
      text-align: right;
      margin-top: auto;
      margin-bottom: 5px;
      color: $red;
    }
    .tag {
      display: flex;
      flex-wrap: wrap;
      gap: 5px;
      span {
        background: $red;
        color: #fff;
        padding: 4px 10px;
        font-size: 15px;
      }
    }
    .cal_btn {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;

      .btn_calculate {
        display: inline-block;
        margin-bottom: 2px;
      }
      a {
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        background: $red;
        padding: 5px;
        font-size: 14px;
        margin-bottom: 2px;
        span {
          font-size: 12px;
          vertical-align: middle;
        }
      }
    }
  }
}

//產品頁標題
.title_group {
  margin-bottom: 20px;
  & > div {
    display: flex;
    align-items: baseline;
    h3 {
      color: $red;
      font-weight: bold;
      font-size: 30px;
      margin-right: 20px;
    }
    .sm_box_group {
      display: flex;
      .sm_box {
        width: 10px;
        height: 10px;
        margin-right: 8px;
        transform: rotate(45deg);
      }
      .box1 {
        background: #000;
      }
      .box2 {
        background: #b4a27f;
      }
      .box3 {
        background: $red;
      }
    }
  }
}

//回到頂端
.toTop {
  position: fixed;
  right: 20px;
  bottom: 70px;
  z-index: 10;
  img {
    width: 60px;
    height: 60px;
    opacity: 0.8;
    cursor: pointer;
    transition: 0.5s;
    &:hover {
      transform: scale(1.2);
    }
    @include sm {
      width: 40px;
      height: 40px;
    }
  }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  li {
    &:first-child,
    &:last-child {
      a {
        border: none;
        background: transparent;
      }
    }
    &.active {
      a {
        background: $red;
        color: #fff;
      }
    }
  }
  a {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border: 1px solid $red;
    color: $red;
    &:hover {
      color: #fff;
      background: $red;
    }
  }
  @include sm {
    ul {
      gap: 10px;
      a {
        width: 40px;
        height: 40px;
      }
    }
  }
}
